<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XML Import</title>
    <link href="public/css/main.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="content">
        <ul class="nav">
            <li><a href="?controller=home">Bookstore</a></li>
            <li><a href="?controller=home&action=import_xml">XML Import</a></li>
        </ul>
        <hr />